body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}

/* css for header */

#eventhead{
    background-image: url(https://htmldemo.net/oestin/oestin/img/bg/3.jpg);
    background-size: cover;
    background-position: center top;
    opacity: .9;
}
.eventtext{
   padding: 20px;
   padding-top: 220px;
   text-align: center;
   color: white;
   color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
   font-size:15px ;
   padding-bottom: 10px;
   
}
.eventtext h2{
    font-size: 36px;
    line-height: 26px;
    margin-bottom: 20px;  
    font-weight: 700;  
}
.eventbar{
    display: flex;
    align-items: center;
    margin-left: 12%;
    font-size: 20px;  
    gap:8px;  
    margin-top: 80px; 
    text-align: left;
}
.eventbar a{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-line: none;
}
.eventbar h4{
    color: #b5876d;
    color: rgb(150,73,26);
}

/* css for events section */

#event{
text-align: center;
padding-top: 4%;
font-family: Arial, Helvetica, sans-serif;
padding-bottom: 4%;
}
.eventcontainer{
    padding-right: 8%;
    padding-left: 8%;
    margin-right: auto;
    margin-left: auto;
}
.eventrow{
    line-height: 17px;
    margin-bottom: 28px;   
    width: 80%; 
    margin: auto;
}
.sec-text{
width: 60%;
margin: auto;
}
.sec-text h3{
    font-weight: 700;
    font-size: 30px;
    color: #444;
}
.sec-text p{
   font-size: 15px;
   line-height: 25px;
   color: #444444;
}

/* css for event buttons */
.event-menu{
    margin: 3%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.event-menu button{
    padding: 0 6px 0 6px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 17px;
    border: 0;
    background-color: #ffffff;
    color: #444444;
}
.event-menu .active{
    color: #b5876d;
}
.event-menu button:hover{
cursor: pointer;
}

/* css for single card */
.row-event{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    row-gap: 20px;
    column-gap: 20px;
  
}
.single-event{
    height: 450px;      
} 

.single-event img{
width: 100%;
height: 450px;
opacity:1;
vertical-align: middle;
overflow-clip-margin: content-box;
}
.col-1{
    grid-column: span 2;
}
.col-2{
    grid-column: span 1;
}
.col-3{
    grid-column: span 1;
}
.col-4{
    grid-column: span 2;
}
.col-5{
    grid-column: span 2;
}
.col-6{
    grid-column: span 1;
}

/* .single-event div{
   color: white; 
   font-size: 20px;
   text-align: left;
   margin-left: 5%;
   /* margin-top: -0px; */
   /* margin-bottom: 200px; 
   
} */
.single-event .event-title{
    color: white; 
    font-size: 30px;
    text-align: left;
    margin-left: 5%;
     margin-top: -100px;
     margin-bottom: 2px;
}
.single-event .author{
    color: #8c3909;
    font-size: 20px;
    text-align: left;
    margin-left: 5%; 
    margin-bottom: 7px;
}
.single-event p{
    color: white; 
    font-size: 18px;
    text-align: left;
    margin-left: 5%; 
    margin-top: 2px;
}
.hidden{
    width: 70%;
    margin-left: 2%; 
}

/* .event-title{
    bottom: 45px;
    color: #ffffff;
    position: absolute;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    z-index: 1;
} */
.hidden{
    display:none;
}
.single-event:hover{
    /* background-color: #585151; */
    opacity: .9;
}
.single-event:hover .event-title{
    margin-top: -220px;   
}
.single-event:hover .hidden{
     display: block; 
     
     /* transition: 0.5s ease 0s; */
     /* margin-top: -0px; */
} 
/* .hidden{
    height: 100%;
    left: 0;
    padding-left: 39px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
} */
/* .author{
    /* bottom: -1%; 
    color: #b5876d;
    position: absolute;
    transition: all 0.8s ease 0s;
    z-index: 1;
    margin-left: 5%;
} */
/* .single-event > p{
    bottom: -20%;
    color: #ffffff;
    position: absolute;
    transition: all 1s ease 0s;
    width: 48%;
    z-index: 1;
} */
/* .single-event:hover .event-title{
    /* display: block; 
    bottom:-1px
} */
/* .single-event:hover .author{
    /* display: block; 
    bottom: -288px;
  transition-delay: 0.1s;
} */
/* .single-event:hover >p{
    display: block; 
     bottom: 37px;
  transition-delay: 0.25s;
} */

/* media query/Responsiveness */

@media all and (max-width:767px){
    .eventtext h2{
        font-size: 26px;     
    } 
    .eventtext p{
        display: none;
    } 
    .eventbar{
        display: flex;
        justify-content: center;
        margin-top: 0px; 
        margin-left: 2%;
    }
    .sec-text{
        width: 90%;
        margin: auto;
    }
    .eventrow{ 
        width: 100%; 
        margin: auto;
    }
    .event-menu{
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        justify-content: center;
    }
    .row-event{
        display: grid;
        grid-template-columns: repeat(1,1fr);  
    }
    .single-event{
        grid-column: span 1;
    }
}